#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_build:
	gcc -Wall -Wextra -g -O2 -o hss hss.c

override_dh_auto_install:
	install -D -m 0755 hss debian/hss/usr/bin/hss
	install -D -m 0644 LICENSE debian/hss/usr/share/doc/hss/LICENSE
	install -D -m 0644 debian/copyright debian/hss/usr/share/doc/hss/copyright
